<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.beruon.hotelmanagment.Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscador</servlet-name>
        <servlet-class>com.beruon.hotelmanagment.Servlets.Buscador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoHotel</servlet-name>
        <servlet-class>com.beruon.hotelmanagment.Servlets.InfoHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarFavs</servlet-name>
        <servlet-class>com.beruon.hotelmanagment.Servlets.AgregarFavs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarComentario</servlet-name>
        <servlet-class>com.beruon.hotelmanagment.Servlets.AgregarComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarReservacion</servlet-name>
        <servlet-class>com.beruon.hotelmanagment.Servlets.AgregarReservacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoProfile</servlet-name>
        <servlet-class>com.beruon.hotelmanagment.Servlets.InfoProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarReservacion</servlet-name>
        <servlet-class>com.beruon.hotelmanagment.Servlets.EliminarReservacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>com.beruon.hotelmanagment.Servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.beruon.hotelmanagment.Servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateHotel</servlet-name>
        <servlet-class>com.beruon.hotelmanagment.Servlets.CreateHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestPusher</servlet-name>
        <servlet-class>com.beruon.hotelmanagment.Servlets.TestPusher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscador</servlet-name>
        <url-pattern>/Buscador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoHotel</servlet-name>
        <url-pattern>/InfoHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarFavs</servlet-name>
        <url-pattern>/AgregarFavs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarComentario</servlet-name>
        <url-pattern>/AgregarComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarReservacion</servlet-name>
        <url-pattern>/AgregarReservacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoProfile</servlet-name>
        <url-pattern>/InfoProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarReservacion</servlet-name>
        <url-pattern>/EliminarReservacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateHotel</servlet-name>
        <url-pattern>/CreateHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestPusher</servlet-name>
        <url-pattern>/TestPusher</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
